name: CI

env:
  DEBUG: napi:*
  APP_NAME: rust-handler-node
  MACOSX_DEPLOYMENT_TARGET: '10.13'
  CARGO_INCREMENTAL: '1'

permissions:
  contents: write
  id-token: write

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'
      - LICENSE
      - '**/*.gitignore'
      - .editorconfig
      - docs/**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - run: pnpm lint
      - run: cargo fmt -- --check
      - run: cargo clippy

  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-apple-darwin
          - aarch64-apple-darwin
          - x86_64-pc-windows-msvc
          - i686-pc-windows-msvc
          - aarch64-pc-windows-msvc
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - armv7-unknown-linux-gnueabihf
          - wasm32-wasip1-threads

    runs-on: ${{ matrix.target == 'x86_64-apple-darwin' || matrix.target == 'aarch64-apple-darwin' && 'macos-latest' ||
      matrix.target contains 'windows' && 'windows-latest' ||
      'ubuntu-latest' }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/
            ~/.cargo/git/
            ~/.napi-rs
            target/
          key: cargo-${{ matrix.target }}

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      # musl 相关
      - uses: mlugg/setup-zig@v2
        if: contains(matrix.target, 'musl')
        with:
          version: 0.15.1

      - name: Install cargo-zigbuild
        if: contains(matrix.target, 'musl')
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-zigbuild

      - name: Build
        run: pnpm build --platform --release --target ${{ matrix.target }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.target }}
          path: '*.node'
          if-no-files-found: ignore

  build-freebsd:
    runs-on: ubuntu-latest
    name: Build FreeBSD
    steps:
      - uses: actions/checkout@v4

      - name: Build FreeBSD
        uses: cross-platform-actions/action@v0.29.0
        with:
          operating_system: freebsd
          version: '14.3'
          shell: bash
          run: |
            sudo pkg install -y curl node libnghttp2 npm
            sudo npm install -g corepack
            corepack enable

            curl https://sh.rustup.rs -sSf | sh -s -- -y --profile minimal
            source "$HOME/.cargo/env"

            pnpm install --no-frozen-lockfile
            pnpm build --platform --release

            rm -rf node_modules target

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-freebsd
          path: ${{ env.APP_NAME }}.*.node
          if-no-files-found: error

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [lint, build, build-freebsd]

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create npm dirs
        run: pnpm napi create-npm-dirs

      - name: Move artifacts
        run: pnpm artifacts

      - name: Publish
        run: |
          npm config set provenance true
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc

          if git log -1 --pretty=%B | grep -E "^v?[0-9]+\.[0-9]+\.[0-9]+$"; then
            npm publish --access public
          elif git log -1 --pretty=%B | grep -E "^v?[0-9]+\.[0-9]+\.[0-9]+"; then
            npm publish --tag next --access public
          else
            echo "Not a release, skipping publish"
          fi
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
