name: CI

env:
  DEBUG: napi:*
  APP_NAME: rust-handler-node
  MACOSX_DEPLOYMENT_TARGET: '10.13'
  CARGO_INCREMENTAL: '1'

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'
      - LICENSE
      - '**/*.gitignore'
      - .editorconfig
      - docs/**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - run: pnpm install --no-frozen-lockfile
      - run: pnpm lint
      - run: cargo fmt -- --check
      - run: cargo clippy

  build:
    name: Build cross-platform
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-apple-darwin
          - aarch64-apple-darwin
          - x86_64-pc-windows-msvc
          - i686-pc-windows-msvc
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - armv7-unknown-linux-gnueabihf
        host:
          - macos-latest
          - macos-latest
          - windows-latest
          - windows-latest
          - ubuntu-latest
          - ubuntu-latest
          - ubuntu-latest
          - ubuntu-latest
          - ubuntu-latest
        node: [22]

    runs-on: ${{ matrix.host }}

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/
            ~/.cargo/git/
            ~/.napi-rs
            target/
          key: cargo-${{ matrix.target }}

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - uses: mlugg/setup-zig@v2
        if: startsWith(matrix.target, 'x86_64') && endsWith(matrix.target, 'musl') || startsWith(matrix.target, 'aarch64') && endsWith(matrix.target, 'musl')
        with:
          version: 0.15.1

      - name: Install cargo-zigbuild
        if: startsWith(matrix.target, 'x86_64') && endsWith(matrix.target, 'musl') || startsWith(matrix.target, 'aarch64') && endsWith(matrix.target, 'musl')
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-zigbuild

      - name: Build
        run: pnpm build --platform --release --target ${{ matrix.target }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.target }}
          path: '*.node'
          if-no-files-found: ignore
